@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-brand-bg text-brand-dark antialiased;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
